.canvaContainer{
    position:relative;
    top:2rem;
    width:100%;
    height:auto;
    display:flex;
    flex-direction:column;
    row-gap:3rem;
    align-items:center;
    z-index:-10;
   
}
canvas{
    width:80%;
    height:50%;
  
    border-radius:30px;
   
}