@font-face {
    font-family: 'head';
    src: url('./head.otf');
}
.optionBar {
    font-family: head;
    font-size: 1rem;
    height: 1.8rem;
    color: #3076f3;
    border-style: hidden;
    background-color: snow;
    transition: all 0.1s;
}
    .optionBar:hover, .optionBar:focus{
        cursor: pointer;
        color: #065af1;
        background-color: aliceblue;
        box-shadow: 0px 0px 3px 0.2px #2377dd;
        transform: translateY(-1px);
    }
    