@font-face {
    font-family: 'head';
    src: url('./head.otf');
}
.optionBar {
    
    font-family: head;
    font-size: large;
    height:1.8rem;
    color: cornflowerblue;
    border-style:hidden;
    background-color: snow;
    transition:all 0.1s;
}
    .optionBar:hover{
        background-color: #76a4f6;
        box-shadow: 0px 3px 3px 3px #d6edffab;
        color: snow;
        transform: scale(103%);
        transition: all 0.1s;
        cursor: pointer;
    }
    .optionBar:active {
        background-color: #76a4f6;
        box-shadow: 0px 3px 3px 3px #d6edffab;
        color: snow;
    }